---
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';
import Card from '../../components/BlogCard.astro';
import Label from '../../components/Label.astro'
import SearchPosts from '../../components/SearchPosts.astro';

import { 
  sortByDateDescending,
  extractFirstWords, 
  formatDateInSpanish, 
  slugify 
} from '../../utils/posts-utils'

const posts = sortByDateDescending(await getCollection('blogs'));
const currentPath = Astro.url.pathname;

//Obtenemos el post mas reciente para usarlo en la sección de lo más reciente
const [mostRecentPost, ...allRemainingPosts] = posts;

const slug = slugify(mostRecentPost.data.title);
const href = `${currentPath}/${slug}`;

---

<Layout title='Blogs'>
  <section class="text-center p-10">
    <div class="max-w-7xl mx-auto px-4 md:px-0">
      <!-- Blog más reciente -->
      <div class="mb-12 grid grid-cols-1 md:grid-cols-2 gap-8 items-center">

        <div class="text-left">
          <Label text="LO MÁS RECIENTE" font="font-inter" color="text-white" background="bg-[#8C6E4A]"/>
          <h2 class="text-3xl font-lora  text-[#322203] mb-4 mt-4">
            {mostRecentPost.data.title}
          </h2>

          <div class="text-gray-500 mb-2">
            <span class="text-md text-[#8C6E4A]">
              {formatDateInSpanish(mostRecentPost.data.date)}
            </span>
            <Label text={mostRecentPost.data.type}>
          </div>

          <p class="text-base mb-6 whitespace-pre-line">
            {extractFirstWords(mostRecentPost.body, 100)}
          </p>
          <a href={href} class="inline-block bg-transparent text-[#322203] font-semibold border border-[#322203] py-2 px-4 rounded transition-transform transform hover:scale-105">
            Leer más
          </a>
        </div>

        <div>
          <img src={mostRecentPost.data.image} alt={mostRecentPost.data.title} class="rounded-lg w-full object-cover">
        </div>
      </div>

      <hr class="border-t-1 border-[#8C6E4A]">
      <div class="mb-12">
        <SearchPosts/>
      </div>
      <div id="posts-grid" class="grid grid-cols-1 md:grid-cols-3 gap-8">
        {allRemainingPosts.map((post) => (
          <Card
            image={post.data.image}
            title={post.data.title}
            text={extractFirstWords(post.body)}
            type={post.data.type}
            class='card'
            data-title={post.data.title.toLowerCase()}
          />
        ))}
      </div>
    </div>
  </section>
</Layout>
